SSH listener violates spec by waiting for client data

To support signed client source IP address propagation, in Teleport v14 the listener for the SSH service (when not running in tunnel mode) was wrapped in our generic protocol multiplexer to be able to parse the signed PROXY protocol v2 header coming from the Teleport Proxy. This, however, leads to a violation of the SSH spec, as the generic protocol multiplexer always waits for at least 8 bytes from the client (checking for a `SSH-` prefix, to confirm that it's indeed a SSH connection), even though [RFC 4253 § 4.2](https://datatracker.ietf.org/doc/html/rfc4253#section-4.2) says:

>When the connection has been established, both sides MUST send an identification string. This identification string MUST be `SSH-protoversion-softwareversion SP comments CR LF` [...] The server MAY send other lines of data before sending the version string.

The RFC isn't totally explicit about it, but as there's no indication of which side should send data first nor any implicit sequencing in the protocol (and because it makes perfect sense from a performance point of view) the most reasonable interpretation is that both client and server should be sending the version identification string at the same time. This is supported by the behavior of OpenSSH's `sshd` and the default behavior of `golang.org/x/crypto/ssh.NewServerConn`: send the version string and then read the version from the client - socket buffering turns this into effectively a simultaneous send and receive.

This is not a problem with most SSH clients, as they also typically employ the same strategy and will thus work just fine with Teleport v14. However, two notable examples that violate the spec (just like Teleport v14's SSH server) by waiting for the server to send _anything_ before sending their version string are OpenSSH's very own `ssh-keyscan` and [`pdsh`](https://github.com/chaos/pdsh).

As the only possible underlying listener for the protocol multiplexer on the SSH service is the SSH server and the PROXY protocol doesn't require any acknowledgment from the server, we should send the SSH version string at connection unconditionally first, and only then potentially parse the PROXY protocol header (and close the connection if the signature check fails, if necessary). In addition to bringing the server back into spec, this should also improve handshake times by ~half a roundtrip or so, as the client won't need to wait for the server to reply to the version identification before continuing the handshake.