Teleport and Capistrano

Capistrano uses Net::SSH which is a pure Ruby implementation of a SSH client. It does not appear this can be overridden and OpenSSH used directly.

When trying to connect to a OpenSSH node using the recording proxy or connecting to a Teleport node using regular Teleport the following error occurs. Note this bug does not occur when using Teleport is normal mode and connecting to a OpenSSH node.

This seems to indicate the issue might be with the implementation of the shared server in `sshutils` that both the forwarding server and Teleport nodes use.

```
$ ruby ssh.rb 
Warning: Permanently added '[proxy.example.com]:3023' (RSA) to the list of known hosts.
Traceback (most recent call last):
	14: from ssh.rb:3:in `<main>'
	13: from /Users/rjones/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/net-ssh-4.2.0/lib/net/ssh.rb:237:in `start'
	12: from /Users/rjones/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/net-ssh-4.2.0/lib/net/ssh.rb:237:in `new'
	11: from /Users/rjones/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/net-ssh-4.2.0/lib/net/ssh/transport/session.rb:88:in `initialize'
	10: from /Users/rjones/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/net-ssh-4.2.0/lib/net/ssh/transport/session.rb:223:in `wait'
	 9: from /Users/rjones/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/net-ssh-4.2.0/lib/net/ssh/transport/session.rb:223:in `loop'
	 8: from /Users/rjones/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/net-ssh-4.2.0/lib/net/ssh/transport/session.rb:225:in `block in wait'
	 7: from /Users/rjones/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/net-ssh-4.2.0/lib/net/ssh/transport/session.rb:188:in `poll_message'
	 6: from /Users/rjones/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/net-ssh-4.2.0/lib/net/ssh/transport/session.rb:188:in `loop'
	 5: from /Users/rjones/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/net-ssh-4.2.0/lib/net/ssh/transport/session.rb:210:in `block in poll_message'
	 4: from /Users/rjones/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/net-ssh-4.2.0/lib/net/ssh/transport/algorithms.rb:149:in `accept_kexinit'
	 3: from /Users/rjones/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/net-ssh-4.2.0/lib/net/ssh/transport/algorithms.rb:201:in `proceed!'
	 2: from /Users/rjones/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/net-ssh-4.2.0/lib/net/ssh/transport/algorithms.rb:381:in `exchange_keys'
	 1: from /Users/rjones/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/net-ssh-4.2.0/lib/net/ssh/transport/kex/diffie_hellman_group1_sha1.rb:67:in `exchange_keys'
/Users/rjones/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/net-ssh-4.2.0/lib/net/ssh/transport/kex/diffie_hellman_group1_sha1.rb:163:in `send_kexinit': host key algorithm mismatch for signature 'ssh-rsa' != 'ssh-rsa-cert-v01@openssh.com' (Net::SSH::Exception)
```

Where `ssh.rb` is the following program:

```
require "net/ssh"

Net::SSH.start("node.example.com") do |ssh|
  result = ssh.exec!("date")
  puts result
end
```

and `~/.ssh/config` contains the following:

```
Host node.example.com
    User rjones
    HostName node.example.com
    Port 22
    ProxyCommand ssh -oPort=3023 rjones@proxy.example.com -s proxy:%h:%p
```


The problem lies how how the signature in key exchange replies are parsed by net::ssh. For example, here is a valid `SSH_MSG_KEXDH_REPLY` message between a OpenSSH client and OpenSSH server. The OpenSSH server is using host certificates (you can see this in the `KEX DH host key` line).

```
Frame 13: 1534 bytes on wire (12272 bits), 1534 bytes captured (12272 bits)
Ethernet II, Src: Microsof_00:00:00 (00:00:00:00:00:00), Dst: 00:00:00:00:00:00
Internet Protocol Version 4, Src: 1.2.3.4, Dst: 5.6.7.8
Transmission Control Protocol, Src Port: 22, Dst Port: 50438
SSH Protocol
    SSH Version 2
        Packet Length: 1364
        Padding Length: 11
        Key Exchange
            Message Code: Diffie-Hellman Key Exchange Reply (31)
            KEX DH host key (type: ssh-rsa-cert-v01@openssh.com)
                Host key length: 1036
                Host key type: ssh-rsa-cert-v01@openssh.com
                Host key data: 00000020c7418fdd102ffe6ee665340ca5c5bac04baa6699...
            Multi Precision Integer Length: 32
            DH server f: 2a749c1d552147f029c424a1ba434258c967db57d2cca039...
            KEX DH H signature length: 271
            KEX DH H signature: 000000077373682d727361000001000aeeb916a3d5c2ddcf...
            Padding String: 0000000000000000000000
    SSH Version 2
        Packet Length: 12
        Padding Length: 10
        Key Exchange
            Message Code: New Keys (21)
            Padding String: 00000000000000000000
```

Here is a hexdump of the `KEX DH H signature` field:

```
0220  00 04 4e 6f 64 65 00 00 00 00 00 00 01 17 00 00   ..Node..........
0230  00 07 73 73 68 2d 72 73 61 00 00 00 03 01 00 01   ..ssh-rsa.......
0240  00 00 01 01 00 a9 f8 46 a2 3f a8 29 61 33 4c b7   .......F.?.)a3L.
```

Note where where it says, `ssh-rsa` that's the format of the keypair being used in the host certificate. When net::ssh parses this, it expects the host key type `ssh-rsa-cert-v01@openssh.com` not the host key format.

This is why it fails with the below error.

```
host key algorithm mismatch for signature 'ssh-rsa' != 'ssh-rsa-cert-v01@openssh.com'
```

The format of the signature is covered in in more detail in [Section 6.6 of RFC4253](https://tools.ietf.org/html/rfc4253#section-6.6).

The reason more people are not running into this is because:

1. During the KEX net::ssh puts `ssh-rsa` ahead of `ssh-rsa-cert-v01@openssh.com` unlike OpenSSH.
1. Even when OpenSSH is configured to use host certificates, unless you explicitly exclude keys, it will reply with a key if that comes first in the preference list during the KEX (which is what net::ssh does).
1. If net::ssh has not seen a host key before, it adds it to `~/.ssh/known_hosts` without prompting the user.

### Solution

To solve this, when validating the signature type in a KEX reply the type should be checked against the format of the certificate not the type. For example this means checking against `ssh-rsa` not `ssh-rsa-cert-v01@openssh.com`. Same for other formats.

### Optional Solution

In addition, while the following does not apply to Teleport because it only supports host certificates and will not advertise support for keys, the follow fix would be nice for OpenSSH host certificate users.

During the `SSH_MSG_KEXINIT`, net::ssh should give certificates precedence over keys. For example, OpenSSH clients send `server_host_key_algorithms` in the following order:

```
ecdsa-sha2-nistp256-cert-v01@openssh.com
ecdsa-sha2-nistp384-cert-v01@openssh.com
ecdsa-sha2-nistp521-cert-v01@openssh.com
ssh-ed25519-cert-v01@openssh.com
ssh-rsa-cert-v01@openssh.com
ecdsa-sha2-nistp256
ecdsa-sha2-nistp384
ecdsa-sha2-nistp521
ssh-ed25519
rsa-sha2-512
rsa-sha2-256
ssh-rsa
```

This way if the server supports host certificates they get picked up first. This is not a critical fix because it can be fixed on the OpenSSH side with the following changes to `/etc/ssh/sshd_config`:

```
HostKey /etc/ssh/node.example.com
HostCertificate /etc/ssh/node.example.com-cert.pub
HostKeyAlgorithms ssh-rsa-cert-v01@openssh.com
```

I've submitted this issue to net::ssh https://github.com/net-ssh/net-ssh/issues/600.

Fixed in https://github.com/net-ssh/net-ssh/pull/601.