Expiry Time should not truncate the year

Expected behavior:

That `Expiry Time` does not Y2K the year portion since `dd MMM yy` looks a lot like `yy MMM dd` and only context or guessing can distinguish them

```console
$ tctl tokens ls
Token            Type    Labels           Expiry Time (UTC)                 
---------------- ------- ---------------- -----------------------------------
cafebabedeadbeef Kube,Db env=prod         04 Aug 2023 17:15 UTC (6984h26m55s)
```

Current behavior:

```console
$ tctl tokens ls
Token            Type    Labels           Expiry Time (UTC)                 
---------------- ------- ---------------- ---------------------------------
cafebabedeadbeef Kube,Db env=prod         04 Aug 23 17:15 UTC (6984h26m55s)
```

Bug details:
- Teleport version: Teleport v10.3.2 git: go1.19.2
- Recreation steps: as shown
- Debug logs: N/A

I just saw it does this for `tctl requests ls` also
```
Created At (UTC)   
-------------------
18 Oct 22 16:27 UTC
```
which I admit is less risky than token expiry dates, but suboptimal nonetheless

```go
const (
	Layout      = "01/02 03:04:05PM '06 -0700" // The reference time, in numerical order.
	ANSIC       = "Mon Jan _2 15:04:05 2006"
	UnixDate    = "Mon Jan _2 15:04:05 MST 2006"
	RubyDate    = "Mon Jan 02 15:04:05 -0700 2006"
	RFC822      = "02 Jan 06 15:04 MST"
	RFC822Z     = "02 Jan 06 15:04 -0700" // RFC822 with numeric zone
	RFC850      = "Monday, 02-Jan-06 15:04:05 MST"
	RFC1123     = "Mon, 02 Jan 2006 15:04:05 MST"
	RFC1123Z    = "Mon, 02 Jan 2006 15:04:05 -0700" // RFC1123 with numeric zone
	RFC3339     = "2006-01-02T15:04:05Z07:00"
	RFC3339Nano = "2006-01-02T15:04:05.999999999Z07:00"
	Kitchen     = "3:04PM"
	// Handy time stamps.
	Stamp      = "Jan _2 15:04:05"
	StampMilli = "Jan _2 15:04:05.000"
	StampMicro = "Jan _2 15:04:05.000000"
	StampNano  = "Jan _2 15:04:05.000000000"
)
```

These are the off the shelf options available - frankly, I think RFC822 (which is what we currently use) is closest to what we'd want in terms of conciseness, but has the noted issue of using 06 rather than 2006. I suggest we make a new time format that matches RFC822 with tweaking 06 to 2006.

Talked with @xinding33 about this, we're going to stick to RFC822 format (so `02 Jan 06 15:04 MST`) as it's a standard, day/month split is reasonably clear (month is abbreviated word, not number) and still reasonably human readable.